<br><br><br>
<div class="container">

				        <div class="col-xs-12 col-sm-12 col-md-12 formarea">
				
				            <div class="tophead">
				
				                <div class="row">
				
				                    <div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/topleft.png" alt=""></div>
				
				                    <div class="col-xs-12 col-sm-6 col-md-6 headcontent">
				
				                        <h1>Global Network Encryption Investment Security Service</h1>
				
				                        <h3>Certificate Of Vital Record</h3>
				
				                    </div>
				
				                    <div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/topright.png" alt=""></div>
				
				                </div>
				
				
				                <div class="registratonform registratonform-1">
				
				                    <h2>GNEISS Marriage Certificate</h2>
				                </div>
				
				
				
				                <div class="registratonform">
				
				
				
				                    <div class="form-content">
				
				
				
				                        <div class="row marriage">
				
				                            <div class="col-md-12">
				                                <div class="row">
				
				                                    <div class="head-details">
				
				                                        <div class="column-1">
				                                            <div class=" first">
				                                                <h2>Man</h2>
				                                            </div>
				                                        </div>
				                                        <div class="column-2 row">
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>1.A. First Name</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="First Name"
				                                                        [(ngModel)]="marriageForm.mFirstName" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>1.B. Middle</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Middle Name"
				                                                        [(ngModel)]="marriageForm.mMiddleName" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>1.C. Last</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Last Name"
				                                                        [(ngModel)]="marriageForm.mLastName" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="clearfix"></div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>2. Best MAN</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Best Man Name"
				                                                        [(ngModel)]="marriageForm.mBestMan" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>3. Citizenship</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Citizenship"
				                                                        [(ngModel)]="marriageForm.mCitizenship" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>4. Date of Birth</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Date of Birth"
				                                                        [(ngModel)]="marriageForm.mdob" />
				
				                                                </div>
				                                            </div>
				
				
				
				                                        </div>
				                                    </div>
				                                    <div class="clearfix border"></div>
				
				
				                                    <div class="head-details">
				
				                                        <div class="column-1">
				                                            <div class=" third">
				                                                <h2>Man's Parents</h2>
				                                            </div>
				                                        </div>
				
				                                        <div class="column-2 row">
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>5. Mother's Name</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Mother's Name"
				                                                        [(ngModel)]="marriageForm.mmName" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>6. Citizenship</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Mother's Citizenship"
				                                                        [(ngModel)]="marriageForm.mmCitizenship" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>7. Date of Birth</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Mother's Date of Birth"
				                                                        [(ngModel)]="marriageForm.mmdob" />
				
				                                                </div>
				
				                                            </div>
				
				
				
				                                            <div class="clearfix"></div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>8. Father's Name</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Father's Name"
				                                                        [(ngModel)]="marriageForm.mfName" />
				
				                                                </div>
				
				                                            </div>
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>9. Citizenship</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Father's Citizenship"
				                                                        [(ngModel)]="marriageForm.mfCitizenship" />
				
				                                                </div>
				
				                                            </div>
				
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>10. Date of Birth</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Father's Date of Birth"
				                                                        [(ngModel)]="marriageForm.mfdob" />
				
				                                                </div>
				
				                                            </div>
				
				
				
				                                        </div>
				
				                                    </div>
				
				                                    <div class="clearfix border"></div>
				
				
				                                    <div class="head-details">
				
				                                        <div class="column-1">
				                                            <div class=" first">
				                                                <h2>Woman</h2>
				                                            </div>
				                                        </div>
				                                        <div class="column-2 row">
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>11.A. First Name</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="First Name"
				                                                        [(ngModel)]="marriageForm.wFirstName" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>11.B. Middle</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Middle Name"
				                                                        [(ngModel)]="marriageForm.wMiddleName" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>11.C. Last</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Last Name"
				                                                        [(ngModel)]="marriageForm.wLastName" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="clearfix"></div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>12. Best Woman</label>
				
				                                                    <input disabled type="text" class="form-control"
				                                                        placeholder="Best Woman Name" [(ngModel)]="marriageForm.wbestWoman" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>13. Citizenship</label>
				
				                                                    <input disabled type="text" class="form-control"
				                                                        placeholder="Citizenship" [(ngModel)]="marriageForm.wCitizenship" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>14. Date of Birth</label>
				
				                                                    <input disabled type="text" class="form-control"
				                                                        placeholder="Date of Birth" [(ngModel)]="marriageForm.wdob" />
				
				                                                </div>
				                                            </div>
				
				
				
				                                        </div>
				                                    </div>
				                                    <div class="clearfix border"></div>
				
				
				
				
				                                    <div class="head-details">
				
				                                        <div class="column-1">
				                                            <div class=" third">
				                                                <h2>Women's Parents</h2>
				                                            </div>
				                                        </div>
				
				                                        <div class="column-2 row">
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>15. Mother's Name</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Mother's Name"
				                                                        [(ngModel)]="marriageForm.wmName" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>16. Citizenship</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Mother's Citizenship"
				                                                        [(ngModel)]="marriageForm.wmCitizenship" />
				
				                                                </div>
				
				                                            </div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>17. Date of Birth</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Mother's Date of Birth"
				                                                        [(ngModel)]="marriageForm.wmdob" />
				
				                                                </div>
				
				                                            </div>
				
				
				
				                                            <div class="clearfix"></div>
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>18. Father's Name</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Father's Name"
				                                                        [(ngModel)]="marriageForm.wfName" />
				
				                                                </div>
				
				                                            </div>
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>19. Citizenship</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Father's Citizenship"
				                                                        [(ngModel)]="marriageForm.wfCitizenship" />
				                                                </div>
				
				                                            </div>
				
				
				                                            <div class="col-md-4">
				
				                                                <div class="form-group">
				
				                                                    <label>20. Date of Birth</label>
				
				                                                    <input disabled type="text" class="form-control" placeholder="Father's Date of Birth"
				                                                        [(ngModel)]="marriageForm.wfdob" />
				
				                                                </div>
				
				                                            </div>
				
				
				
				                                        </div>
				
				                                    </div>
				
				                                    <div class="clearfix border"></div>
				
				
				                                    <div class="head-details">
				
				                                        <div class="column-1">
				                                            <div class=" fourth event">
				                                                <h2>Event</h2>
				                                            </div>
				                                        </div>
				
				                                        <div class="column-2 row">
				
				                                            <div class="row">
				
				                                                <div class="col-md-6">
				
				                                                    <div class="form-group">
				
				                                                        <label>21. Address</label>
				
				                                                        <textarea disabled id="comment" name="comment" cols="40" rows="6"
				                                                            class="form-control" [(ngModel)]="marriageForm.address"></textarea>
				
				                                                    </div>
				
				                                                </div>
				
				
				
				
				
				                                                <div class="col-md-6">
				
				                                                    <div class="form-group">
				
				                                                        <label>22. Attendants Name and Title</label>
				
				                                                        <textarea disabled id="comment" name="comment" cols="40" rows="6"
				                                                            class="form-control" [(ngModel)]="marriageForm.attendants"></textarea>
				
				                                                    </div>
				
				                                                </div>
				
				
				                                                <div class="col-md-12">
				
				                                                    <div class="form-group legal-info">
				
				                                                        <label>23. Wedding Legal Info</label>
				
				
				
				                                                        <div class="signature">
				
				                                                            <div class="col-md-12 declaretion">
				                                                                <p>I hereby agree to all <a href="../../../assets/document/GNEISSMarriageStatues.pdf" target="_blank">GNEISS statutes</a> governing this
				                                                                    marriage for the rest of my life. Upon breaking
				                                                                    these <a href="../../../assets/document/GNEISSMarriageStatues.pdf" target="_blank">GNEISS statutes</a> I can never get married again.</p>
				                                                            </div>
				
				
				                                                            <div class="row text-center">
				
				
				                                                                <div class="col-md-12">
				
				                                                                    <div class="col-md-1 text-right">
				                                                                        <p> I do</p>
				                                                                    </div>
				
				                                                                    <div class="col-md-4 text-right">
				
				                                                                        <input disabled type="text" class="form-control"
				                                                                            placeholder="Man's Signature" [(ngModel)]="marriageForm.mSign"/>
				                                                                    </div>
				
				                                                                    <div class="col-md-1 ">
				                                                                        <p>&</p>
				                                                                    </div>
				
				                                                                    <div class="col-md-4">
				
				                                                                        <input disabled type="text" class="form-control"
				                                                                            placeholder="Woman's Signature" [(ngModel)]="marriageForm.wSign" />
				                                                                    </div>
				
				                                                                </div>
				
				
				                                                            </div>
				
				                                                        </div>
				
				                                                    </div>
				
				                                                </div>
				
				                                            </div>
				
				                                        </div>
				
				
				
				                                        <div class="clearfix"></div>
				
				                                    </div>
				
				
				
				
				
				                                </div>
				                            </div>
				                        </div>
				
				                    </div>
				
				                </div>
				
				
				
				
				
				                <div class="tophead">
				
				                    <div class="row">
				
				                        <div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/footleftlogo.png" alt="">
				                        </div>
				
				                        <div class="col-xs-12 col-sm-6 col-md-6 headcontent headcontent-bottom">
				
				                            <h1>Register Of Deeds <span>GNEISS</span></h1>
				
				                        </div>
				
				                        <div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/footright.png" alt="">
				                        </div>
				
				                    </div>
				
				                </div>
				
				            </div>
				
				        </div>
				
				
				
				        <!-- ================ Banner Section Starts================ -->
				
				
				
				
				
				
				
				        <!-- ================ Content Area ================ -->
				
				
				
				
				
				
				
				        <!-- ================ Footer Area ================ -->
				
				
				
				
				
				
				
				        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
				        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
				
				        <script>
				            $(document).ready(function () {
				                $('input disabled[type="radio"]').click(function () {
				                    if ($(this).attr('id') == 'test4') {
				                        $('#div1').show('slow');
				                    }
				
				                    else {
				                        $('#div1').hide('slow');
				                    }
				                });
				            });
				        </script>
				
				
				        <!-- Bootstrap Js -->
				
				        <script src="js/bootstrap.min.js"></script>
				
				
				
				        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
				
				        <script
				            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
				
				        <script>
				
				            $(function () {
				
				                $("#datepicker, #datepicker1, #datepicker2").datepicker({
				
				                    autoclose: true,
				
				                    todayHighlight: true
				
				                }).datepicker('update', new Date());
				
				            });
				
				        </script>
				    </div>