<br><br><br>
<div class="container">

						<div class="col-xs-12 col-sm-12 col-md-12 formarea">
				
							<div class="tophead">
				
								<div class="row">
				
									<div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/topleft.png" alt=""></div>
				
									<div class="col-xs-12 col-sm-6 col-md-6 headcontent">
				
										<h1>Global Network Encryption Investment Security Service</h1>
				
										<h3>Certificate Of Business Registration</h3>
				
									</div>
				
									<div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/topright.png" alt=""></div>
				
								</div>
				
				
								<div class="registratonform registratonform-1">
				
									<h2>Gneiss Business Registration</h2>
								</div>
				
				
				
								<div class="registratonform">
				
				
				
									<div class="form-content">
				
										<div class="row">
				
											<div class="col-md-6 col-md-offset-3 text-center">
				
												<div class="row">
				
													<div class="col-md-6">
				
														<div class="form-group">
				
															<input disabled type="text" class="form-control" placeholder="Business Registration"
																[(ngModel)]="businessForm.shortName" />
				
														</div>
				
													</div>
				
				
				
													<div class="col-md-6 left">
				
														<div class="form-group"><label>Business Registration</label></div>
				
													</div>
				
												</div>
				
											</div>
				
											<div class="clearfix"></div>
				
				
				
											<div class="col-md-12">
				
												<div class="form-group">
				
													<label>Full Business Name</label>
				
													<input disabled type="text" class="form-control" placeholder="Full Business Name" [(ngModel)]="businessForm.name" />
				
												</div>
				
											</div>
				
											<div class="clearfix"></div>
				
				
				
											<div class="col-md-6">
				
												<div class="form-group">
				
													<label>Business Address</label>
				
													<textarea disabled id="comment" name="comment" cols="40" rows="6"
														class="form-control" [(ngModel)]="businessForm.address"></textarea>
				
												</div>
				
											</div>
				
				
				
											<div class="col-md-6">
				
												<div class="form-group">
				
													<div class="newdatesection">
				
														<label>Date Incorporated</label>
				
														<input disabled type="text" class="form-control" placeholder="Date Incorporated" [(ngModel)]="businessForm.date" />
				
													</div>
				
				
				
													<div class="newdatesection">
				
														<label>Country Origins</label>
				
														<input disabled type="text" class="form-control" placeholder="Country" [(ngModel)]="businessForm.country" />
				
													</div>
				
												</div>
				
											</div>
				
											<div class="clearfix"></div>
				
				
				
				
											<div class="col-md-12 ">
				
												<div class="form-group business-type-2">
				
													<label>Type Of Business</label>
													
													<input disabled type="text" class="form-control" placeholder="Corporation, LLC, Partnership, etc." [(ngModel)]="businessForm.type" />
				
												</div>
				
											</div>
				
				
											<div class="clearfix"></div>
				
				
				
				
											<div class="col-md-6">
				
												<div class="form-group">
				
													<label>Owner (s)</label>
				
													<textarea disabled id="" name="comment" cols="40" rows="5" class="form-control" [(ngModel)]="businessForm.owners"></textarea>
				
												</div>
				
											</div>
				
				
				
				
											<div class="col-md-6">
				
												<div class="form-group">
				
													<label>Name of Company Representatives</label>
				
													<textarea disabled id="" name="comment" cols="40" rows="5" class="form-control" [(ngModel)]="businessForm.reps"></textarea>
				
												</div>
				
											</div>
				
											<div class="clearfix"></div>
				
				
				
											<div class="col-md-12">
				
												<div class="form-group">
				
													<label>Business Details</label>
				
													<textarea disabled id="" name="comment" cols="40" rows="5" class="form-control" [(ngModel)]="businessForm.details"></textarea>
				
												</div>
				
											</div>
				
				
											<div class="clearfix"></div>
				
				
											<div class="col-md-12">
				
												<div class="form-group">
				
													<label>Capital</label>
				
													<textarea disabled id="" name="comment" cols="40" rows="5" class="form-control" [(ngModel)]="businessForm.capital"></textarea>
				
												</div>
				
											</div>
				
											<div class="clearfix"></div>
				
				
				
				
				
				
										</div>
				
									</div>
				
								</div>
				
				
				
				
				
								<div class="tophead">
				
									<div class="row">
				
										<div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/footleftlogo.png" alt="">
										</div>
				
										<div class="col-xs-12 col-sm-6 col-md-6 headcontent headcontent-bottom">
				
											<h1>Register Of Deeds <span>GNEISS</span></h1>
				
										</div>
				
										<div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/footright.png" alt="">
										</div>
				
									</div>
				
								</div>
				
							</div>
				
						</div>
				
				
				
						<!-- ================ Banner Section Starts================ -->
				
				
				
				
				
				
				
						<!-- ================ Content Area ================ -->
				
				
				
				
				
				
				
						<!-- ================ Footer Area ================ -->
				
				
				
				
				
				
				
						<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
						<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
				
				
				
						<!-- Bootstrap Js -->
				
						<script src="js/bootstrap.min.js"></script>
				
				
				
						<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
				
						<script
							src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
				
						<script>
				
							$(function () {
				
								$("#datepicker").datepicker({
				
									autoclose: true,
				
									todayHighlight: true
				
								}).datepicker('update', new Date());
				
							});
				
						</script>
					</div>