<section class="section greyBg feePage" id="what-is-ico">
  <div class="container mt-3  " >
    <!-- ***** Features Items Start ***** -->
    <div class="row mb-4">

      <div class="col-md-12">
        <div class="">
          <h1 class="w-100 text-center mb-5">Blockchain Fees</h1>

          <div class="row fee-boxes">
            <div class="col-md-6 mb-3 text-center">
              <div class="auth-box">
                <img _ngcontent-hex-c2="" class="logo" src="../../../../assets/images/bit-coin.jpg">
                <h4 class="w-100" >Bitcoin</h4>
                <p>Fee based off of a SegWit transaction of size 226 bytes.<br> Larger transactions will use larger fees.</p>
          
              </div>
           
            </div>

            <div class="col-md-6">
              <div class="auth-box text-center">
                <img _ngcontent-hex-c2="" class="logo" src="../../../../assets/images/ethereum.jpg">
                <h4 class="w-100" style="font-size: 1.5em">Ethereum</h4>
                <p>Additional Fees may be applied to advance smart contract features. Contract creator pays all fees besides other user trading fees.</p>
          
              </div>
            
            </div>
          </div>
        
    
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="w-100 mt-2 mb-1">
          <tr>
            <td>
              Crypto-Asset Creation
            </td>
            <td>
              0.0195372 ETH per Advanced ERC-20 Token
            </td>
          </tr>
          <tr>
            <td>
              Crypto-Asset Transfer
            </td>
            <td>
              0.002515 ETH per Transfer
            </td>
          </tr>
  
          <tr>
            <td>
              Crypto-Asset Mint/Burn Change
            </td>
            <td>
              0.009515 ETH per Mint/Burn Change
            </td>
          </tr>
          <tr>
            <td>
              Marketplace Exchange Fee
            </td>
            <td>
              0.3% per Trade
            </td>
          </tr>
        </table>
        
      </div>
    </div>
       
        </div>
      </div>
   

    </div>

    <div class="auth-box auth-box-2">
      <div class="row mb-4 px-4 justify-content-center">
        <h1 class="w-100 text-center mb-">GNEISS Ratings</h1>
        <!-- <a class="auth-links color-primary" href="../../../assets/document/GNEISSRatings.pdf" target="_blank">Click here to view how GNEISS ratings are calculated</a> -->
      
      
      
      </div>
   
      <div class="ratingContainer">
        <div class="ratingBox">
          <div class="ratingLetter">
            <span><sup>+</sup>A<sup>- </sup></span>
          </div>
          <p>100-90</p>
        </div>

        <div class="ratingBox">
          <div class="ratingLetter">
            <span><sup>+</sup>B<sup>- </sup></span>
          </div>
          <p>90-80</p>
        </div>

        <div class="ratingBox">
          <div class="ratingLetter">
            <span><sup>+</sup>C<sup>- </sup></span>
          </div>
          <p>80-70</p>
        </div>

        <div class="ratingBox">
          <div class="ratingLetter">
            <span><sup>+</sup>D<sup>- </sup></span>
          </div>
          <p>70-60</p>
        </div>

        <div class="ratingBox">
          <div class="ratingLetter">
            <span>F</span>
          </div>
          <p>60></p>
        </div>
      </div>
      <hr>
      <div class="row align-items-end">
        <div class="col-md-4">
          <div class="points-list">
            <p><span class="semibold color-primary">A </span>Ratings can open 3 loans</p>
            <p><span class="semibold color-primary">B </span>Ratings can open 2 loans</p>
            <p><span class="semibold color-primary">C or D </span>Rating can open 1 loan</p>
          </div>
        </div>

        <div class="col-md-8">
          <p class="info-pr">*Loans must be filled at least 50% to be activated and are listed for 21 days.</p>
        </div>
      </div>
 
      <hr>

      <div class="row align-items-end">
        <div class="col-md-12">
          <div class="points-list">
            <p>The + means your < 3 points from the top of that grade (ex. A+ would be between 100-97)</p>
            <p>The - means your < 3 points from the bottom of that grade (ex. B- would be between 83-80)</p>

          </div>
        </div>

    
      </div>


    </div>

    <div class="auth-box auth-box-2 my-5">
    
      <h4 class="color-primary mb-5 text-center">Recommended Interest Rate</h4>
      <div class="ratingContainer">
        <div class="ratingBox">
          <div class="ratingLetter">
            <span>A</span>
          </div>
          <p>Up to 3% </p>
        </div>

        <div class="ratingBox">
          <div class="ratingLetter">
            <span>B</span>
          </div>
          <p>3%-6% </p>
        </div>

        <div class="ratingBox">
          <div class="ratingLetter">
            <span>C</span>
          </div>
          <p>6%-9% </p>
        </div>

        <div class="ratingBox">
          <div class="ratingLetter">
            <span>D</span>
          </div>
          <p>9%-12+% </p>
        </div>

        <div class="ratingBox">
          <div class="ratingLetter">
            <span>F</span>
          </div>
          <p>Can’t start a loan,<br> 
            must have 60+ score</p>
        </div>
      </div>
 
  
 
 

   


    </div>

    <div class="auth-box auth-box-2 my-5">
    
      <h4 class="color-primary mb-5 text-center">User Credit Scoring System</h4>

        <p class="info-pr mb-4">There are 7 ways your credit score is graded. All negative points accrued are wiped from the<br>
          record after 7 years after the event, but do affect points accrued by loans or secured contracts.<br>
          User credit scores are based on the following criteria:
          
            </p>

            <p class="info-pr mb-3 mb-sm-3">1. <span class="semibold color-primary">Initial Sign Up/E-Vault Creation</span> (+10 Points)</p>
            <p class="info-pr mb-3 mb-sm-3">2. <span class="semibold color-primary">Basis ID verification</span> (+40 Points)</p>
            <p class="info-pr mb-3 mb-sm-3">3. <span class="semibold color-primary">Tier 3 Verification</span>  (+5 Points per Authorized Identifiable Registration)</p>
      
            <div class="col-md-7 px-0">
              <div class="points-spec">
                <span>Birth Certificate → +5 points</span>
                <span>Marriage Certificate → +5 points</span>
                <span>Business Registration → +5 points</span>
                <span>House Registration → +5 points</span>
              </div>
            </div>

            <p class="info-pr mb-3 mb-sm-3">4. <span class="semibold color-primary">Criminal Record</span>  (-15 per Felony, plus -1 point per year in jail  and -1 point per 0.1 BTC or money equivalent fined)</p>
            <p class="info-pr mb-3 mb-sm-3">5. <span class="semibold color-primary">Loans </span> (Up to 0.1 BTC → +2.5 Point /up to 1 BTC → +5 Points /up to 10 BTC → +10 Points)</p>

            <div class="col-md-9 px-0">
              <div class="points-spec loan-sec">
                <span>Missed payment → -0.1</span>
                <span>Missed payment → -0.25</span>
                <span>Missed payment → -0.5</span>
                <span>Delinquency → -10</span>
                <span>Delinquency → -20 </span>
                <span>Delinquency → -30</span>
              </div>
            </div>

            <p class="info-pr mb-3 mb-sm-3">6. <span class="semibold color-primary">Secured Contracts </span> (Up to 0.1 BTC → +2.5 Point /up to 1 BTC → +5 Points /up to 10 BTC → +10 Points)</p>
            <div class="col-md-9 px-0">
              <div class="points-spec loan-sec">
                <span>Missed payment → -0.1</span>
                <span>Missed payment → -0.25</span>
                <span>Missed payment → -0.5</span>
                <span>Delinquency → -10</span>
                <span>Delinquency → -20 </span>
                <span>Delinquency → -30</span>
              </div>
            </div>

            <p class="info-pr mb-3 mb-sm-3">7. <span class="semibold color-primary">Account Balance </span>  (Current Account has the following account balance in BTC)</p>
            <div class="col-md-6 px-0">
              <div class="points-spec account-balance-spec ">
                <span>Less than 0.1 BTC → +5 Points</span>
                <span>0.1-1 BTC → +10 Points</span>
                <span>1-10 BTC → +15 Points</span>
                <span>Over 10 BTC → +20 Points</span>
              
              </div>
            </div>

            <p class="infotext semibold mt-4">***⅔ the current Market Price of ETH will be considered the equivalent value to BTC for scoring purposes***</p>

   


    </div>
  


    


  </div>
</section>