<br><br><br>
    <div class="container">

					        <div class="col-xs-12 col-sm-12 col-md-12 formarea">
					
					            <div class="tophead">
					
					                <div class="row">
					
					                    <div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/topleft.png" alt=""></div>
					
					                    <div class="col-xs-12 col-sm-6 col-md-6 headcontent">
					
					                        <h1>Global Network Encryption Investment Security Service</h1>
					
					                        <h3>Certificate Of Vital Record</h3>
					
					                    </div>
					
					                    <div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/topright.png" alt=""></div>
					
					                </div>
					
					
					                <div class="registratonform registratonform-1">
					
					                    <h2>Gneiss Death Certificate</h2>
					                </div>
					
					
					
					                <div class="registratonform">
					
					
					
					                    <div class="form-content">
					
					                        <div class="registratonform registratonform-1 will-testimony-1">
					
					                            <h2>Certificate of Live Death</h2>
					                        </div>
					
					                        <div class="row">
					
					                            <div class="col-md-12">
					                                <div class="row">
					
					                                    <div class="head-details" style="width: 100%">
					
					                                        <div class="column-1">
					                                            <div class=" first">
					                                                <h2>THIS PERSON</h2>
					                                            </div>
					                                        </div>
					                                        <div class="column-2 form-group row">
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>1.A. Name of person - First</label>
					
					                                                    <input disabled type="text" class="form-control" placeholder="First Name"  [(ngModel)]="deathCertificateForm.firstName"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>1.B. Middle</label>
					
					                                                    <input disabled type="text" class="form-control" placeholder="Middle Name" [(ngModel)]="deathCertificateForm.middleName"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>1.C. Last</label>
					
					                                                    <input disabled type="text" class="form-control" placeholder="Last Name" [(ngModel)]="deathCertificateForm.lastName"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="clearfix"></div>
					
					                                            <div class="col-md-3">
					
					                                                <div class="form-group">
					
					                                                    <label>2. Sex</label>
					
					                                                    <select disabled class="form-control" [(ngModel)]="deathCertificateForm.gender">
					                                                        <option value="Male">Male</option>
					                                                        <option value="Female">Female</option>
					                                                    </select>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-3">
					
					                                                <div class="form-group">
					
					                                                    <label>3. Citizenship</label>
					
					                                                    <!--<select class="form-control">
					                                                        <option>USA</option>
					                                                        <option>UK</option>
					                                                        <option>Australia</option>
					                                                        <option>Brazil</option>
					                                                    </select>-->
					                                                    
					                                                    <input disabled type="text" class="form-control" placeholder="Citizenship" [(ngModel)]="deathCertificateForm.citizenship"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-3">
					
					                                                <div class="form-group">
					
					                                                    <label>4.A. Date of Death</label>
					
					                                                    <!--<input disabled id="datepicker" class="form-control input disabled-group date"
					                                                        type="text" data-date-format="mm-dd-yyyy" readonly />-->
					                                                        
					                                                        <input disabled type="text" class="form-control" placeholder="Date of Death" [(ngModel)]="deathCertificateForm.dod"/>
					
					                                                </div>
					                                            </div>
					
					                                            <div class="col-md-3">
					
					                                                <div class="form-group">
					
					                                                    <label>4.B. 24 Hour Time</label>
					
					                                                    <input disabled type="text" class="form-control" placeholder="16:35"
					                                                         [(ngModel)]="deathCertificateForm.time"/>
					
					                                                </div>
					
					                                            </div>
					
					                                        </div>
					                                    </div>
					                                    <div class="clearfix border"></div>
					
					                                    <div class="head-details" style="width: 100%">
					
					                                        <div class="column-1">
					                                            <div class=" second">
					                                                <h2>PLACE OF Death</h2>
					                                            </div>
					                                        </div>
					
					                                        <div class="column-2 form-group row">
					                                            <div class="col-md-6">
					
					                                                <div class="form-group">
					
					                                                    <label>5.A. Name of Death Place</label>
					
					                                                    <input disabled type="text" class="form-control" placeholder="Death Place"
					                                                         [(ngModel)]="deathCertificateForm.place"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-6">
					
					                                                <div class="form-group">
					
					                                                    <label>5.B. Street Address</label>
					
					                                                    <input disabled type="text" class="form-control" placeholder="Street Address"
					                                                         [(ngModel)]="deathCertificateForm.address"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-6">
					
					                                                <div class="form-group">
					
					                                                    <label>5.C. City/County</label>
					
					                                                    <!--<select class="form-control">
					                                                        <option>USA</option>
					                                                        <option>UK</option>
					                                                        <option>Australia</option>
					                                                        <option>Brazil</option>
					                                                    </select>-->
					                                                    
					                                                    <input disabled type="text" class="form-control" placeholder="City/County"
					                                                         [(ngModel)]="deathCertificateForm.city"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-6">
					
					                                                <div class="form-group">
					
					                                                    <label>5.D. State/Country</label>
					
					                                                    <!--<select class="form-control">
					                                                        <option>USA</option>
					                                                        <option>UK</option>
					                                                        <option>Australia</option>
					                                                        <option>Brazil</option>
					                                                    </select>-->
					                                                    <input disabled type="text" class="form-control" placeholder="City/County"
					                                                         [(ngModel)]="deathCertificateForm.country"/>
					
					                                                </div>
					
					                                            </div>
					
					                                        </div>
					
					                                    </div>
					
					                                    <div class="clearfix border"></div>
					
					                                    <div class="head-details"  style="width: 100%">
					
					                                        <div class="column-1">
					                                            <div class=" third">
					                                                <h2>PARNTS OF PERSON</h2>
					                                            </div>
					                                        </div>
					
					                                        <div class="column-2 form-group row">
					
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>6.A. Name of Mother</label>
					
					                                                    <input disabled type="text" class="form-control" placeholder="Mother's Name"
					                                                        [(ngModel)]="deathCertificateForm.mothersName"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>6.B. Date of Birth</label>
					
					                                                    <!--<input disabled id="datepicker1" class="form-control input disabled-group2 date"
					                                                        type="text" data-date-format="mm-dd-yyyy" readonly />-->
					                                                    <input disabled type="text" class="form-control" placeholder="Mother's Date of Birth"
					                                                        [(ngModel)]="deathCertificateForm.mothersDob"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>6.C. Birth Place</label>
					
					                                                    <input disabled type="text" class="form-control"
					                                                        placeholder="Mother's Birth Place" [(ngModel)]="deathCertificateForm.mothersBirthPlace" />
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="clearfix"></div>
					
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>7.A. Name of Father</label>
					
					                                                    <input disabled type="text" class="form-control" placeholder="Father's Name"
					                                                         [(ngModel)]="deathCertificateForm.fathersName"/>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>7.B. Date of Birth</label>
					
					                                                    <!--<input disabled id="datepicker2" class="form-control input disabled-group2 date"
					                                                        type="text" data-date-format="mm-dd-yyyy" readonly />-->
					                                                    <input disabled type="text" class="form-control" placeholder="Mother's Date of Birth"
					                                                        [(ngModel)]="deathCertificateForm.fathersDob"/>
					                                                        
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="col-md-4">
					
					                                                <div class="form-group">
					
					                                                    <label>7.C. Birth Place</label>
					
					                                                    <input disabled type="text" class="form-control"
					                                                        placeholder="Father's Birth Place" [(ngModel)]="deathCertificateForm.fathersBirthPlace"/>
					
					                                                </div>
					
					                                            </div>
					
					                                        </div>
					
					                                    </div>
					
					                                    <div class="clearfix border"></div>
					
					                                    <div class="head-details"   style="width: 100%">
					
					                                        <div class="column-1">
					                                            <div class=" fourth">
					                                                <h2>INFORMATION & DEATH CERTIFICATION</h2>
					                                            </div>
					                                        </div>
					
					                                        <div class="column-2">
					
					                                            <div class="col-md-12">
					
					                                                <div class="form-group">
					
					                                                    <label>8. Home Address</label>
					
					                                                    <textarea disabled id="comment" name="comment" cols="40" rows="6"
					                                                        class="form-control" [(ngModel)]="deathCertificateForm.homeAddress"></textarea>
					
					                                                </div>
					
					                                            </div>
					
					                                            <div class="clearfix"></div>
					
					
					
					                                            <div class="col-md-12">
					
					                                                <div class="form-group">
					
					                                                    <label>9. Attendants Name and Title</label>
					
					                                                    <textarea disabled id="comment" name="comment" cols="40" rows="6"
					                                                        class="form-control" [(ngModel)]="deathCertificateForm.attendants"></textarea>
					
					                                                </div>
					
					                                            </div>
					                                            
					                                            <div class="col-md-12">
					
					                                                <div class="form-group">
					
					                                                    <label>10. Cause of Death</label>
					
					                                                    <textarea disabled id="comment" name="comment" cols="40" rows="6"
					                                                        class="form-control" [(ngModel)]="deathCertificateForm.cause"></textarea>
					
					                                                </div>
					
					                                            </div>
					
					                                        </div>
					
					                                    </div>
					
					
					
					                                    <div class="clearfix"></div>
					
				
					
					
					
					                                </div>
					                            </div>
					                        </div>
					
					                    </div>
					
					                </div>
					
					
					
					
					
					                <div class="tophead">
					
					                    <div class="row">
					
					                        <div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/footleftlogo.png" alt="">
					                        </div>
					
					                        <div class="col-xs-12 col-sm-6 col-md-6 headcontent headcontent-bottom">
					
					                            <h1>Register Of Deeds <span>GNEISS</span></h1>
					
					                        </div>
					
					                        <div class="col-xs-12 col-sm-3 col-md-3 text-center"><img src="../../../assets/images/footright.png" alt="">
					                        </div>
					
					                    </div>
					
					                </div>
					
					            </div>
					
					        </div>
					
					
					
					        <!-- ================ Banner Section Starts================ -->
					
					
					
					
					
					
					
					        <!-- ================ Content Area ================ -->
					
					
					
					
					
					
					
					        <!-- ================ Footer Area ================ -->
					
					
					
					
					
					
					
					        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
					        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
					
					        <script>
					            $(document).ready(function () {
					                $('input disabled[type="radio"]').click(function () {
					                    if ($(this).attr('id') == 'test4') {
					                        $('#div1').show('slow');
					                    }
					
					                    else {
					                        $('#div1').hide('slow');
					                    }
					                });
					            });
					        </script>
					
					
					        <!-- Bootstrap Js -->
					
					        <script src="js/bootstrap.min.js"></script>
					
					
					
					        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
					
					        <script
					            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
					
					        <script>
					
					            $(function () {
					
					                $("#datepicker, #datepicker1, #datepicker2").datepicker({
					
					                    autoclose: true,
					
					                    todayHighlight: true
					
					                }).datepicker('update', new Date());
					
					            });
					
					        </script>
                </div>