<!-- ***** Contact & Footer Start ***** -->
<footer id="contact">
  <div class="footer-top" style="height: auto; padding-bottom: 40px;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact" style="margin-top: 0px">
            <div class="row">
              <div class="col-sm-3">
                <ul class="list">
                  <li><strong style="text-transform: uppercase;">GNEISS PLATFORM</strong></li>
                  <li><a href="https://gneiss.io/assets/document/GNEISSWhitePaper.pdf" target="_blank"> White Paper</a></li>
                  <li><a href="https://gneiss.io/assets/document/GNEISSOperationManual.pdf" target="_blank"> Operations Manual</a></li>
                  <li><a href="/pages/api-doc">API Documentation</a></li>
                </ul>
              </div>
              <div class="col-sm-3">
                <ul class="list">
                  <li><strong style="text-transform: uppercase;">Legal</strong></li>
                  <li><a href="/pages/privacy">Privacy Policy</a></li>
                  <li><a href="/pages/terms">Terms and Conditions</a></li>
                  <li><a href="https://gneiss.io/assets/document/GNEISSLegalDocumentation.pdf" target="_blank">Documentation</a></li>
                </ul>
              </div>

              <div class="col-sm-3">
                <ul class="list">
                  <li><strong style="text-transform: uppercase;">Support</strong></li>
                  <li><a href="https://forum.gneiss.io/">Forum</a></li>
                  <li><a href="/pages/fees">Ratings & Fees</a></li>
                  <li><a href="/help">Contact Us</a></li>
                </ul>
              </div>

              <div class="col-sm-3">
                <h3 class="section-title" style="text-transform: uppercase;">Get Connected</h3>

                <ul class="social footer-social mt-0">
                  <li><a href="https://www.facebook.com/GNEISSrev/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="https://twitter.com/GNEISSrev" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.linkedin.com/company/gneissrev/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.instagram.com/gneissrev/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                  <li><a href="https://www.youtube.com/channel/UCH9q7JXtBIPLY4OYTsMVCmw" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

                </ul>
              </div>


            </div>
          </div>
        </div>






        <!--<div class="col-lg-4 col-md-4 col-sm-12">-->
          <!--<div class="contact-form" style="margin-top: 50px">-->
            <!--<h3 class="section-title">Say Something</h3>-->
            <!--<div class="form-element">-->
              <!--<input type="text" placeholder="Name, surname">-->
            <!--</div>-->
            <!--<div class="form-element">-->
              <!--<input type="email" placeholder="E-Mail">-->
            <!--</div>-->
            <!--<div class="form-element">-->
              <!--<textarea placeholder="Message"></textarea>-->
            <!--</div>-->
            <!--<div class="form-element">-->
              <!--<button class="btn-secondary-box">Submit</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->



      </div>
    </div>
  </div>
  <div class="footer-bottom" style="padding-top: 40px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="copyright text-center" style="margin-bottom: 25px;"><strong>{{year}} © Global Network Encryption Investment Security Services</strong></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- ***** Contact & Footer End ***** -->

