<section class="section" id="what-is-ico">

  <div class="container mt-5 shadow-sm p-5" style="background-color: #F1F1F1; border-radius: 5px">
    <!-- ***** Features Items Start ***** -->
    <div class="m-bottom-70">

      <div style="display:flex;justify-content: space-between">
        <h2>PRIVACY POLICY</h2>
        <p style="font: small"><strong> Last Revised: July 4th, 2020</strong></p>
      </div>

      <p>This Privacy Policy, as amended or otherwise changed from time to time (the “Privacy Policy”) explains the
        manner in which Global Network Encryption Investment Security Service Foundation (“GNEISS”) collects, uses,
        maintains and discloses user information obtained through the GNEISS.com website (the “Site”). The terms “we,”
        “us,” and “our” refer to GNEISS Foundation. By using the Site, you (“User”) consent to the data practices
        prescribed in this Privacy Policy. On occasion, GNEISS may revise this Privacy Policy to reflect changes in law,
        our personal data collection and use practices, the features on the Site, or advances in technology. If material
        changes are made to this Privacy Policy, the changes will be prominently posted on the Site. Capitalized terms
        not defined herein shall have the meanings ascribed to them in the Terms of Use.</p>

      <p><strong>Please note:</strong><i>This Privacy Policy does not cover any information that we may receive about
          you through channels external to GNEISS.</i></p>

      <h4>What information does GNEISS collect?</h4>

      <p>If you open an Account to utilize the Services, we may collect your full name, address, phone number, email
        address, and other similar information; date of birth; government issued identification; other personal
        information provided by 3rd party identity verification services; and information you provide to GNEISS when
        interacting with our customer support or other staff members via email, online form, trollbox, or other
        correspondence. We also collect passive information which includes, but is not limited to, IP addresses,
        referral URLs, your location, and other session data.</p>

      <h4>How does GNEISS use the information it collects?</h4>
      <p>We collect your personal information to provide the Services to you. We notify you about your account activity,
        process transactions, provide customer support services, improve our product, identify, prevent, and report
        potentially suspicious, fraudulent, or illegal activities, and we notify you about important changes to our
        Terms of Use.</p>

      <h4>How does GNEISS share my personal information?</h4>
      <p>It may be necessary to disclose your information to comply with any law, subpoenas, court orders, or government
        request, defend against claims, investigate or bring legal action against illegal or suspected illegal
        activities, enforce our Terms of Use, or to protect the rights, safety, and security of GNEISS, our users, or
        the public. GNEISS may contain links to other 3rd party websites which are regulated by their own privacy
        policies. GNEISS is not responsible for the privacy policies of these 3rd party websites even if they were
        accessed using the links from our site.</p>

      <p>Other than as stated in this Privacy Policy, GNEISS does not disclose any of your personal information to third
        parties unless required to do so by law enforcement, court order, or in compliance with legal reporting
        obligations. Also, GNEISS makes every effort to comply with the European Union’s General Data Protection
        Regulations (“GDPR”) not only in Europe, but for every other country as well. To contact our Data Protection
        Officer please email admin@gneiss.io and we will respond to any of your legal requests as soon as possible.
      </p>


      <h4>How can you update your information?</h4>

      <p>You can access update your information by locating it in the settings web page or by contacting support at
        admin@gneiss.io.</p>
      <p>We will retain your information for as long as your Account has not been closed or as needed to provide you
        access to your Account. If you wish to close your Account, contact us at admin@gneiss.io. We will retain and use
        your information as necessary to comply with our legal obligations, European Union’s GDPR legislation, resolve
        disputes, and enforce our Terms of Use.</p>



      <h4>How does GNEISS use cookies and persistent local data?</h4>
      <p>We collect web browser Information in order to enhance your experience on the site and track how the Services
        are being used. Cookies are small data files that are stored on your computer’s hard drive, and in addition to
        using cookies to provide you with a better user experience, we use cookies to identify and prevent fraudulent
        activity. The information collected can include, but is not limited to, your IP address, referral URLs, the type
        of device you use, your operating system, the type of browser you use, geographic location, and other session
        data. Cookies are not permanent and will expire after a short time period of inactivity. You may opt to
        deactivate your cookies, but it is important to note that you may not be able to access or use some features of
        our site. Please note that GNEISS is not responsible or can be held liable for any loss resulting from your
        decision or inability to use such features.</p>



      <h4>What security precautions does GNEISS take to protect me?</h4>
      <p>We take the protection of your personal information seriously. We use industry-standard data encryption
        technology and have implemented restrictions related to the storage of and the ability to access your personal
        information. Please note that no transmission over the Internet or method of electronic storage can be
        guaranteed to be 100% secure.</p>







      <!--<h4>Contacting us</h4>-->
      <p style="font-size: medium"><br><br>If you have any questions about our Privacy Policy as outlined above, please
        contact us at <b><u><i>admin@gneiss.io.</i></u></b></p>



      <!--<h4></h4>-->
      <!--<p></p>-->



    </div>
  </div>
</section>